<div id="<%= dom_id branch %>">
  <p>
    <strong>Nombre:</strong>
    <%= branch.name %>
  </p>
  <p>
    <strong>Direccion:</strong>
    <%= branch.address %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= branch.telephone %>
  </p>

</div>
