<p style="color: green"><%= notice %></p>

<h1>Office hours</h1>

<div id="office_hours">
  <% @office_hours.each do |office_hour| %>
    <%= render office_hour %>
    <p>
      <%= link_to "Show this office hour", branch_office_hour_url(@branch,office_hour) %>
    </p>
  <% end %>
</div>

<%= link_to "New office hour", new_branch_office_hour_path %>
