<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <p>
      <%= link_to "Show", branch_appointment_path(appointment.branch_id, appointment) %>
      <% if can? :edit, Appointment %>
        <%= link_to "Atender", edit_branch_appointment_path(appointment.branch_id, appointment) %>
      <% end %>
    </p>
  <% end %>
</div>
