<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Edit this appointment", edit_branch_appointment_path(@appointment) %> |
  <%= link_to "Back to appointments", branch_appointments_path %>

</div>
